body {
  font-family: "Open Sans", sans-serif;
  color: #333;
}

.container {
  margin: 30px auto;
  max-width: 1140px;
}

h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

p {
  color: #666;
  font-size: 15px;
  line-height: 17px;
  padding-bottom: 20px;
}
