.chart-container {
  position: relative;
}

.header-row {
  position: sticky;
  top: 0;
}

.date-row {
  background-color: #fff;
}

.row {
  align-items: stretch;
  display: flex;
  margin: 8px 0;
}

.row-country-header {
  text-overflow: ellipsis;
  width: 150px;
  flex-shrink: 0;
  position: sticky;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.case-number-row {
  display: flex;
}

.case-number-row.date-row {
  color: #ccc;
}

.number-display {
  flex-shrink: 0;
  font-weight: bold;
  margin: 2px;
  padding: 10px 5px;
  text-align: center;
  width: 55px;
  cursor: default;
}
